#wrapper {
	margin: 1em;
	border: 1px solid #333;
	min-width: 1340px;
	min-height: 750px;
}

#banner {
	height: 25px;
	border-bottom: 1px solid #333;
	padding: .5em;
}

#banner h3 {
	margin: 0;
	padding: 0;
}

#main {
	width: 820px;
	height: 720px;
	padding: 1em;
	display: inline-block;
	border: 1px solid #333;
}

#main #main-canvas {
	border: 1px solid #CCC;
}

#sidebar {
	width: 400px;
	padding: 1em;
	border: 1px solid #F00;
	float: right;
	display: inline-block;
}